*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#37352f;
    --primary-background-color:rgb(242, 224, 224);   
    --a-color:#37352f;
    --card-bgcolor:rgb(242, 224, 224);
    --card-hover-color:rgb(248, 234, 234);
    --card-font-color:#191711;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --primary-button-color: #ffffff;
    --box-shadow:#d4ecff;
}
.dark{
    --primary-text-color:#ffffff;
    --primary-background-color:rgb(24, 19, 19);   
    --a-color:#cdcdcd;
    --aside-bgcolor:#3d3737;
    --card-font-color:#ffffff;
    --card-hover-color:rgb(96, 87, 87);
    --box-shadow:#ffffff;
    --card-bgcolor:rgb(40, 39, 39);
}
body{
    background-color: var(--primary-background-color);
    font-family: ui-sans-serif, -apple-system, "system-ui", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
a{
    text-decoration: none;
    color: var(--a-color);
}
.flex{
    display: flex;
    flex-direction: row;
}
/* nav bar */
nav{
    height: 30px;
    margin-inline: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.profile{
    margin-left: 10px;
    margin-top: 5px;
}
.blogs-signout{
    margin-left: auto;
    margin-top: 5px;
    align-items: center;
}
.home,.blog,.signout{
    margin-right: 20px;
}
.theme{
    width: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.user-name{
    color: var(--a-color);
    margin-top: 15px;
    margin-left:10px ;
}
/* main content */
.blog-main{
    max-width: 1180px;
    margin-inline: auto;
}
.blog-search{
    /* margin-right: auto; */
    /* display: block; */
    justify-content: end;
    gap: 5px;
    margin-bottom: 30px;
}
.search-bar{
    gap: 8px;
}
.search-text{
   padding: 8px;
   border: 2px solid rgb(217, 223, 228);
   border-radius: 4px;
}
.search-button{
    width: 100px;
    padding: 9px;
    background-color: var(--accent-color);
    border: none;
    color: white;
    border-radius: 4px;
}
.search-button:hover{
    background-color: var(--accent-color-dark);
    cursor: pointer;
}
.quotes-container{
    width: calc(100vw - 610px);
    padding-inline: 30px;
    margin-top: 10px;
    margin-left: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    word-spacing: 1.5px;
    color: var(--a-color);
}

/* Article template */

.article-holder{
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: start;
}
.card{
    width: 360px;
    min-height: 400px;
    overflow: hidden;
    box-shadow: 0 0 4px ;
    border-radius: 4px;
    transition: transform .3s ease;
    background-color:var(--card-bgcolor);
    color: var(--card-font-color);
}
.card:hover{
    cursor: pointer;
    transform: translateY(-4px); 
    background-color: var(--card-hover-color);
    box-shadow: 1 1 8px var(--box-shadow);
}

.card-content{
    padding: 12px;
}
.card-header img{
    height:180px;
    width:100%;
    object-fit: cover;
}
.article-source{
    margin-block: 10px;
    text-align: right;
}